.main {
    position: relative;
    overflow: hidden;
}

.main__thread {
    position: absolute;
}

.main > .main__thread:nth-child(1),
.main > .main__thread:nth-child(3) {
    left: -4px;
}

.main > .main__thread:nth-child(1),
.main > .main__thread:nth-child(3),
.footer > .main__thread:nth-child(1) {
    z-index: 5;
    filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.5));
}

.main > .main__thread:nth-child(1) {
    top: 320px;
    width: 105%;
}

.main > .main__thread:nth-child(3) {
    top: 850px;
    width: 20%;
}

.footer > .main__thread {
    left: -20px;
    top: 120px;
    width: 30%;
    height: 350px;
}

@media (max-width: 1400px) {
    .main > .main__thread:nth-child(3) {
        top: 900px;
        width: 20%;
    }
}

@media (max-width: 1200px) {
    .main > .main__thread:nth-child(1) {
        top: 350px;
    }

    .main > .main__thread:nth-child(3) {
        top: 880px;
    }

    .footer > .main__thread {
        top: 20px;
    }
}

@media (max-width: 992px) {
    .main > .main__thread:nth-child(1) {
        top: 320px;
    }

    .main > .main__thread:nth-child(3) {
        top: 820px;
        width: 200px;
    }
}

@media (max-width: 768px) {
    .main > .main__thread:nth-child(1) {
        top: 280px;
    }

    .main > .main__thread:nth-child(3) {
        top: 620px;
        width: 150px;
    }

    .footer > .main__thread {
        top: 380px;
        left: -100px;
        height: 200px;
    }
}

@media (max-width: 576px) {
    .main > .main__thread:nth-child(1) {
        top: 420px;
    }

    .main > .main__thread:nth-child(3) {
        top: 750px;
    }

    .footer > .main__thread {
        top: 460px;
        left: -40px;
        height: 300px;
    }
}

@media (max-width: 460px) {
    .main > .main__thread:nth-child(1) {
        top: 480px;
    }

    .main > .main__thread:nth-child(3) {
        top: 790px;
    }
}

@media (max-width: 330px) {
    .main > .main__thread:nth-child(1) {
        top: 550px;
    }
}