.account-header__button-filter {
    position: relative;
    z-index: 7;

    align-self: flex-start;

    background-color: initial;
    text-align: end;
    font-size: 1.2rem;

    cursor: pointer;
}

.filter {
    display: none;

    position: absolute;
    top: 90px;
    left: 0;
    z-index: 6;

    width: 80%;
    margin-left: 10%;

    padding: 20px 40px;
    border-radius: 20px;
}

.filter_active {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    background-color: var(--bg-color);
}

.filter__input-box {
    width: 50%;
    margin-bottom: 40px;
}

.filter__input-box:nth-child(3),
.filter__input-box:nth-child(5) {
    width: 40%;
}

.filter__text {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.filter__input-box:nth-child(4),
.filter__input-box:nth-child(5) {
    display: flex;
    flex-direction: column;
}

.filter__input-box:nth-child(6) {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 60px;
    margin-bottom: 0;
}

.field:nth-child(2) {
    margin-bottom: 20px;
}

.slider{
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}

.slider .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: var(--accent-color);
}

.range-input{
    position: relative;
}

.range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: var(--accent-color);
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
}

.filter__select {
    width: 100%;
    outline: none;
}

.admin-buttons {
    display: flex;
    justify-content: flex-end;

    margin: 20px 0 40px 0;
}

.admin-buttons_appearance:first-child {
    margin-right: 40px;
}

.admin-buttons_appearance {
    background-color: initial;
}

.filter__submit {
    padding: 10px 30px;
}

.filter__submit_appearance {
    border-radius: 20px;
    background-color: var(--accent-color);
    color: #fff;
}