.recent-actions {
    height: 310px;
    overflow-y: scroll;
}

.recent-actions[data-admin] {
    width: 100%;
    height: 410px;
}

.recent-actions::-webkit-scrollbar {
    width: 6px;
}

.recent-actions > .recent-actions__row:first-child {
    height: 60px;
    border-bottom: 2px solid #000;
}

.recent-actions__row {
    display: flex;
    height: 50px;
}

.recent-actions__cell {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.recent-actions__cell {
    width: 20%;
}

.recent-actions__cell[data-personal-account] {
    width: 40%;
}

.recent-actions__cell_font {
    word-break: break-all;
    text-align: center;
}

/*admin*/

.recent-actions[data-status] {

}

.recent-actions_inactive {
    display: none;
}

.recent-actions__cell[data-status-select] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.recent-actions__cell_font[data-status-select] {

}